<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4>Edit Profile</h4>
          <% if @user.pfp_url.present? %>
          <%# small nitpick; use rails image_tag%>
          <img src="<%= @user.pfp_url %>" class="card-img-top img-fluid w-50 mx-auto d-block" alt="<%= @user.username %>'s profile picture">
          <% end %>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group mb-3">
              <%= f.label :username %>
              <%= f.text_field :username, autofocus: true, class: 'form-control', autocomplete: "username" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :pfp_url %>
              <%= f.text_field :pfp_url, class: 'form-control', autocomplete: "location" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :phone_number %>
              <%= f.text_field :phone_number, class: 'form-control', autocomplete: "name" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :location %>
              <%= f.text_field :location, class: 'form-control', autocomplete: "location" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :bio, "Bio" %>
              <%= f.text_area :bio, rows: 5, class: 'form-control', autocomplete: "description" %>
            </div>

            <!-- Password Change Fields -->
            <div class="form-group mb-3">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
              <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: 'btn btn-primary' %>
            </div>
          <% end %>

          <hr />

          <h3>Cancel my account</h3>
          <%= button_to "Cancel my account", registration_path(resource_name), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mt-3" %></p>

          <%= link_to "Back", :back, class: "btn btn-light" %>
        </div>
      </div>
    </div>
  </div>
</div>
