<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <%# Display profile picture only if present %>
        <% if @user.pfp_url.present? %>
         <%# small nitpick; use rails image_tag%>
          <img src="<%= @user.pfp_url %>" class="card-img-top img-fluid w-50 mx-auto d-block" alt="<%= @user.username %>'s profile picture">
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= @user.username %></h5>

          <%# Display bio only if present %>
          <% if @user.bio.present? %>
            <p class="card-text"><%= @user.bio %></p>
          <% end %>

          <% if @user.email.present? || @user.phone_number.present? %>
            <h6 class="card-subtitle mb-2 mt-4">Contact Info</h6>
            <% if @user.email.present? %>
              <p class="card-text">Email: <%= @user.email %></p>
            <% end %>
            <% if @user.phone_number.present? %>
              <p class="card-text">Phone: <%= @user.phone_number %></p>
            <% end %>
          <% end %>
          <% if @user.hosted_events.any? %>
            <div class="card-body">
              <h6 class="card-subtitle mb-2">Events Hosting:</h6>
              <ul class="list-group list-group-flush">
                <% @user.hosted_events.each do |event| %>
                  <li class="list-group-item">
                    <%= link_to event.title, event_path(event) %>
                    <br>
                    <small class="text-muted"><%= event.date_time.strftime("%B %d, %Y at %I:%M%p") %></small>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
