<%# Add class & move inline styles to css style sheet%>
<nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #065535;">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-dice"></i> GameNight
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGameNight" aria-controls="navbarGameNight" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarGameNight">
      <%# Good opportunity to use pundit & policies!%>
      <% if user_signed_in? %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to events_path, class: "nav-link" do %>
              <i class="fas fa-search"></i> Discover
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to my_events_path, class: "nav-link" do %>
              <i class="fas fa-calendar-alt"></i> My Events
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to games_path, class: "nav-link" do %>
              <i class="fas fa-puzzle-piece"></i> Games
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_event_path, class: "nav-link" do %>
              <i class="fas fa-plus-square"></i> Host Event
            <% end %>
          </li>
        </ul>
      <% end %>

      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to edit_user_registration_path, class: "nav-link" do %>
              <i class="fas fa-user-edit"></i> Edit Profile
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, "data-turbo-method": :delete, class: "nav-link" do %>
              <i class="fas fa-sign-out-alt"></i> Sign Out
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fas fa-sign-in-alt"></i> Sign In
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="fas fa-user-plus"></i> Sign Up
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
