<div class="container mt-5">
  <h2 class="mb-4">Upcoming Events Near You</h2>
  <%= form_with url: events_path, method: :get do |form| %>
    <%= form.label :date, "Date:" %>
    <%= form.date_field :date %>
    <%= form.label :location, "Location" %>
    <%= form.text_field :location %>
    <%= form.label :capacity, "Minimum Capacity" %>
    <%= form.number_field :capacity %>
  
    <%= form.submit "Search" %>
  <% end %>
  <hr>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm"> <!-- Added shadow -->
          <% if event.game.image_url.present? %>
            <%= image_tag event.game.image_url, class: "card-img-top img-fluid", alt: "#{event.game.title}", style: "height: 200px; object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= event.date_time.strftime("%B %d, %Y %H:%M") %></h6>
            <p class="card-text"><strong>Game:</strong> <%= event.game.title %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Location: <%= event.location %></li>
            <% if event.capacity - event.reservations.where(status: 'yes').count > 0 %>
              <li class="list-group-item">Remaining Spots: <%= event.capacity - event.reservations.where(status: 'yes').count %> </li>
            <% else %>
              <div class="card-footer text-muted">
                Fully Booked
              </div>
            <% end %>
          </ul>
          <div class="card-body">
            <%= link_to 'View Event', event_path(event), class: "btn btn-primary" %> <!-- Changed to button for better visibility -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
