<div class="container mt-5">
  <h2 class="mb-4">All Upcoming Events</h2>
  <!-- Event Search Filters -->
  <%= form_with url: events_path, method: :get, style: 'display: flex; flex-direction: row; align-items: center;', data: { controller: "autocomplete" } do |form| %>
  <%= form.label :date, "Date:", style: 'margin-right: 10px;' %>
  <%= form.date_field :date, style: 'margin-right: 10px;' %>
  <%= form.label :location, "Location:", style: 'margin-right: 10px;' %>
  <%= form.text_field :location, id: 'autocomplete', style: 'margin-right: 10px;' %>
  <%= form.label :capacity, "Minimum Event Size:", style: 'margin-right: 10px;' %>
  <%= form.number_field :capacity, style: 'margin-right: 10px;' %>

  <%= form.button "<i class='fas fa-search'></i> Search".html_safe, class: 'btn btn-secondary' %>
  <% end %>
  <hr>
  <!-- Event Display Results -->
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm"> <!-- Added shadow -->
          <% if event.game.present? && event.game.image_url.present? %>
            <%= image_tag event.game.image_url, class: "card-img-top img-fluid", alt: "#{event.game.title}", style: "height: 200px; object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= event.date_time.strftime("%B %d, %Y %I:%M %p") %></h6>
            <% if event.game.present?%>
            <p class="card-text"><strong>Game:</strong> <%= event.game.title %></p>
            <%end%>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Location: <%= event.location %></li>
            <% if event.capacity - event.reservations.where(status: 'yes').count > 0 %>
              <li class="list-group-item">Remaining Spots: <%= event.capacity - event.reservations.where(status: 'yes').count %> </li>
            <% else %>
              <div class="card-footer text-muted">
                Fully Booked
              </div>
            <% end %>
          </ul>
          <div class="card-body">
            <%= link_to event_path(event), class: "btn btn-primary" do %>
              <i class="fas fa-eye"></i> View Event
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
