<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      Event Details
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @event.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @event.date_time.strftime("%A, %B %e, %Y at %l:%M %p") %></h6>
      <% if @event.game.present? %>
        <div class="mb-3">
          <strong>Game:</strong> <%= @event.game.title %>
          <% if @event.game.image_url.present? %>
            <div>
              <%= link_to game_path(@event.game) do %>
                <%= image_tag @event.game.image_url, class: "img-fluid rounded-start", style: "max-width: 200px; height: auto; margin: 20px 0;", alt: "#{@event.game.title}", title: "Click to see more events for this game" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <p class="card-text"><%= @event.description %></p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Location: <%= @event.location %></li>
        <li class="list-group-item"> Hosted by:<%= link_to @event.host.username, user_path(@event.host), class: "text-light" %> </li>
        <% if @event.capacity - @event.reservations.where(status: 'yes').count > 0 %>
          <li class="list-group-item">Remaining Spots: <%= @event.capacity - @event.reservations.where(status: 'yes').count %> </li>
        <% else %>
          <span class="badge bg-warning text-dark mt-3">Fully Booked</span>
        <% end %>

      </ul>
      <% if user_signed_in? %>
        <% if current_user == @event.host || @event.reservations.exists?(sender: current_user) %>
          <%= link_to my_events_path, class: "btn btn-primary mt-3" do %>
            <i class="fas fa-arrow-left"></i> Back to My Events
          <% end %>
          <% if current_user == @event.host %>
            <%= link_to edit_event_path(@event), class: "btn btn-warning mt-3 mr-3" do %>
              <i class="fas fa-edit"></i> Edit Event
            <% end %>
            <%= link_to event_path(@event), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger mt-3' do %>
              <i class="fas fa-trash-alt"></i> Delete Event
            <% end %>
          <% end %>
        <% elsif @event.capacity - @event.reservations.where(status: 'yes').count > 0 %>
          <%= link_to new_reservation_path(event_id: @event.id), class: "btn btn-primary mt-3" do %>
            <i class="fas fa-calendar-plus"></i> Make Reservation
          <% end %>
        <% end %>
      <% end %>

      <% unless user_signed_in? && (@event.host == current_user || @event.reservations.exists?(sender: current_user)) %>
        <%= link_to events_path, class: "btn btn-secondary mt-3" do %>
          <i class="fas fa-arrow-left"></i> Back to Events
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <h3>Reservations</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @event.reservations.each do |reservation| %>
        <tr>
          <td>
            <%= link_to reservation.sender.username, user_path(reservation.sender), class: "text-light" %>
          </td>
          <td><%= reservation.status.titleize %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
